{% extends "base.html" %}
{% include "header.html" %}

{% block title %} Hello {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                <h2>Mangage Employees<button type="button" class="btn btn-success float-right"
                data-toggle="modal", data-target="#mymodal">Add new Employee</button></h2>

                <!--Call flash message-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dississable text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!--Create Table-->
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>

                    <!--Push data from database to the interface-->
                    {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.phone}}</td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs"
                                data-toggle="modal" data-target="#modalupdate{{row.id}}">Update</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                               onclick="return confirm('Are you sure to delete?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Update Employee-->
                    <div id="modalupdate{{row.id}}" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">

                                <h4 class="modal-title">Update Information</h4>

                             </div>
                             <div class="modal-body">
                                <form action="{{ url_for('update') }}" method="POST">
                                   <div class="form-group">

                                      <label>Name:</label>

                                       <input type="hidden"  name="id" value="{{row.id}}">
                                       <input type="text" class="form-control" name="name" value="{{row.name}}">

                                   </div>
                                   <div class="form-group">

                                      <label>Email:</label>

                                      <input type="text" class="form-control" name="email" value="{{row.email}}">

                                   </div>
                                   <div class="form-group">

                                      <label>Phone:</label>

                                      <input type="text" class="form-control" maxlength="10" name="phone" value="{{row.phone}}">

                                   </div>
                                   <div class="form-group">

                                      <button class="btn btn-primary" type="submit">Update</button>

                                   </div>
                                </form>
                             </div>

                             <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                             </div>
                          </div>
                       </div>
                    </div>
                    {% endfor %}

                </table>
            </div>

            <!-- Modal Create Employee-->
            <div id="mymodal" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <h4 class="modal-title">Add Employee</h4>
                     </div>
                     <div class="modal-body">
                        <form action="{{ url_for('create') }}" method="POST">

                           <div class="form-group">

                              <label>Name:</label>
                              <input type="text" class="form-control" name="name" required="1">

                           </div>
                            <div class="form-group">

                              <label>Email:</label>
                              <input type="email" class="form-control" name="email" required="1">

                           </div>
                            <div class="form-group">

                              <label>Phone:</label>
                              <input type="number" class="form-control" maxlength="10" name="phone" required="1">

                           </div>
                           <div class="form-group">

                              <button class="btn btn-primary" type="submit">Add Employee</button>

                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                     </div>
                  </div>
               </div>
             </div>

        </div>
    </div>
</div>

{% endblock %}

